* {
  box-sizing: border-box;
}

header h1{
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.colors {
  border: 1px solid black;
  width: 90%;
  margin: 30px auto;
  height: 300px;
}

.colors h2 {
  margin-left: 20px;
}

.colors-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.type-color {
  border: 1px solid black;
  font-size: 24px;
  width: 250px;
  height: 150px;
  text-align: center;
}

.fonts {
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
}

.text-styles {
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
}